.icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.fade-in {
  -webkit-animation: fade-in 0.8s ease-in 0.5s both;
  animation: fade-in 0.8s ease-in 0.5s both;
}

.fade-in-2 {
  -webkit-animation: fade-in 1.2s ease-in 0.5s both;
  animation: fade-in 1.2s ease-in 0.5s both;
  animation-delay: 2s;
}

.fade-in-3 {
  -webkit-animation: fade-in 1s ease-in 0.5s both;
  animation: fade-in 1s ease-in 0.5s both;
  animation-delay: 4s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
